body {
    min-width: 300px;
    min-height: 400px;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

#notes {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.note {
    white-space: pre-line;
}

p {
    margin-bottom: 0px;
    margin-top: 6px;
}

.buttonLabel {
    display: inline-block;
    padding: 2px 8px;
    background-color: #f0f0f0;
    border: 1px solid #707070;
    border-radius: 4px;
    font-weight: 500;
}
.buttonLabel:hover {
    background-color: #e0e0e0;
}

input[type="file"] {
    display: none;
}










    
    form{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20%auto;
    }
    
    formlabel{
    font-size: 32px;
    letter-spacing: 1px;
    }
    
    forminput{
    margin: 010px;
    padding: 8px 8px 6px;
    font-size: 20px;
    border: 0;
    color: #fff;
    }
    
    /* --------- Tooltip Styles ---------- */
    
    .tooltip{
    position: relative;
    background: rgba(0,0,0,0.3);
    padding: 5px 12px;
    border-radius: 100%;
    font-size: 20px;
    cursor: help;
    }
    .tooltip::before, .tooltip::after{
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: allease0.3s;
    }
    .tooltip::before{
    content: "";
    border-width: 10px 8px 08px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
    top: -20px;
    margin-left: -8px;
    }
    .tooltip::after{
    content: attr(data-tooltip);
    background: rgba(0,0,0,0.3);
    top: -20px;
    transform: translateY(-100%);
    font-size: 14px;
    margin-left: -150px;
    width: 300px;
    border-radius: 10px;
    color: #fff;
    padding: 14px;
    }
    
    /* Hover states */
    
    .tooltip:hover::before, .tooltip:hover::after{
    opacity: 1;
    }